body {
	background: url(18280204_1326078614096218_828407430_n.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
#title {
	border: 10px solid black;
	line-height: 5px;
	text-align: center;
    	top:25%;
	left: 25%;
	margin: auto;	
}
h1 {
	text-transform: uppercase;
	font-family: "verdana", sans-serif;
	font-style: italic;
	font-size: 130px;
	
}
h2 {
	font: 400 80px 'Great Vibes', Helvetica, sans-serif;
	color: black;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
}
.header {
	position: absolute;
	top: 75% ;
	left: 42%;
}
a:link, a:visited {
  text-decoration: none;
  background-color: #000000;
  border: 1px solid #004d4d;
  color: white;
  display: block;
  width: 250px;
  text-align: center;
  margin-bottom: 2px;
  font-size: 25px;
}
